/Compiled/
/Site/
/Documentation/MacroCreator_Help-doc/*.html
/Documentation/MacroCreator_Help-doc/Commands/*.html
/Documentation/MacroCreator_Help-doc/hha.dll
/Screenshots/
*.exe
*.chm
*.ini
*.iss
*.hhc
*.hhk
*.hhp
