/Site/
/Documentation/MacroCreator_Help-doc/*.exe
/Documentation/MacroCreator_Help-doc/*.chm
/Documentation/MacroCreator_Help-doc/*.html
/Documentation/MacroCreator_Help-doc/Commands/*.html
*.ini
*.dll
*.iss
*.hhc
*.hhk
*.hhp
