/Compiled/
/Site/
/Documentation/MacroCreator_Help-doc/*.html
/Documentation/MacroCreator_Help-doc/Commands/*.html
/Documentation/MacroCreator_Help-doc/hha.dll
/Documentation/MacroCreator_Help-doc/default.css
/Screenshots/
/*.pmc
/*.txt
*.exe
*.chm
*.ini
*.iss
*.hhc
*.hhk
*.hhp
*.lnk